<app-home></app-home>

<hr>
<h3 class="mt-5 mb-2">Lista de Reservas</h3>

<table class="table table-striped" *ngIf="reservations.length;else noReservation;">
    <thead>
        <th>Nome</th>
        <th>E-mail</th>
        <th>N° Quarto</th>
        <th>Check-In</th>
        <th>Check-Out</th>
        <th>Ações</th>
    </thead>
    <tbody>
        <tr *ngFor="let reservation of reservations">
            <td>{{reservation.guestName}} </td>
            <td>{{reservation.guestEmail}}</td>
            <td>{{reservation.roomNumber}} </td>
            <td>{{reservation.checkInDate}}</td>
            <td>{{reservation.checkOutDate}}</td>
            <td>
                <button class="btn btn-sm btn-danger mx-1" (click)="deleteReservation(reservation.id)">Deletar</button>
                <button class="btn btn-sm btn-secondary mx-1" [routerLink]="['/edit', reservation.id]">Editar</button>
            </td>

        </tr>
    </tbody>
</table>

<ng-template #noReservation>
    <p class="mt-5 mb-3 lead">Nenhuma reserva disponível.</p>
</ng-template>